html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    font: 14px/1.2 Helvetica Neue, Microsoft YaHei, Tahoma, Helvetica, Arial, \\5B8B\4F53, sans-serif
}

blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

button {
    outline: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

em,
i {
    font-weight: 400;
    font-style: normal
}

fieldset,
img {
    border: 0;
    vertical-align: middle
}

li,
ol,
ul {
    list-style: none
}

button,
input,
select,
textarea {
    font-size: 100%;
    outline: none;
    vertical-align: middle
}

a:active,
a:hover {
    outline: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

* {
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section {
    display: block
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .35)
}

a:active,
a:hover,
a:link,
a:visited {
    color: #08a1ef;
    text-decoration: none
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body,
html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.231;
    -webkit-touch-callout: none;
    display: -webkit-box;
    -webkit-box-align: stretch;
    position: fixed;
    -webkit-text-size-adjust: 100%!important;
    -ms-text-size-adjust: 100%!important
}

img {
    vertical-align: middle
}

img:not([src*="/"]) {
    display: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

caption,
td,
th {
    vertical-align: middle
}

textarea {
    resize: none;
    border: 0;
    padding: 8px 0;
    border-radius: 0
}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translateZ(0)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 400
}

.clr:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clr {
    *zoom: 1
}

.telphone {
    display: block;
    position: fixed;
    right: 2%;
    bottom: 15%;
    z-index: 100;
    cursor: pointer
}

.telphone img {
    width: 44px;
    height: 44px
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both
}

.clearfix {
    zoom: 1
}